$click2pass-primary: #d80621;
$click2pass-primary-light: #d8062108;

.footer-master-container {
  min-height: 350px;
  background-image: url(../../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.brand-info-container {
  padding-right: 3rem;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $click2pass-primary;
  margin-bottom: 1rem;

  img {
    // height: 48px;
    // width: 48px;
    max-width: 12rem;
    height: auto;
  }

  h6 {
    font-size: 1.8rem;
    margin-left: 0.6rem;
  }
}

.footer-list-container {
  h6 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: unset;
    transition: all 0.3s;

    &:hover {
      color: $click2pass-primary;
    }
  }
}

.footer-social-list-container {
  @extend .footer-list-container;

  li {
    float: left;
    margin-right: 0.6rem;

    img {
      width: 28px;
      height: 28px;
    }
  }
}

.bottom-text {
  margin-top: 5rem;
  text-align: center;
}
