<div class="footer-master-container">
  <c-container>
    <c-row [gutter]="2">
      <c-col lg="6" class="brand-info-container">
        <div class="branding">
          <img src="assets/images/logo-2.png" alt="Click2Pass Logo" />
          <!-- <h6>Click2Pass</h6> -->
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est,
          deserunt, nisi quia ab vitae magnam ut recusandae modi unde veniam
          amet laborum esse corporis commodi beatae error officia rem culpa?
        </p>
      </c-col>
      <c-col lg="2" class="footer-list-container">
        <h6>Useful Links</h6>
        <ul>
          <li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada.html">Immigration, Refugees and Citizenship Canada</a></li>
          <li><a href="https://drivetest.ca/">Drivetest Ontario</a></li>
          <!-- <li><a routerLink="">Lorem Ipsum</a></li>
          <li><a routerLink="">Lorem Ipsum</a></li> -->
        </ul>
      </c-col>
      <c-col lg="2" class="footer-list-container">
        <h6>About Us</h6>
        <ul>
          <li><a routerLink="">Contact Us</a></li>
          <li><a routerLink="">Privacy Policy</a></li>
          <li><a routerLink="">Lorem Ipsum</a></li>
        </ul>
      </c-col>
      <c-col lg="2" class="footer-social-list-container">
        <h6>Follow Us</h6>
        <ul>
          <li>
            <a href="#"
              ><img src="assets/images/facebook.svg" alt="Facebook"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/instagram.svg" alt="Instagram"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/twitter.png" alt="Twitter"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/linkedin.svg" alt="LinkedIn"
            /></a>
          </li>
        </ul>
      </c-col>
    </c-row>
  </c-container>

  <div class="bottom-text">
    &copy;&nbsp;2024 Click2Pass. All Rights Reserved.
  </div>
</div>
