$click2pass-primary: #d80621;
$click2pass-primary-light: #d8062108;

.feature-master-container {
  background-color: $click2pass-primary-light;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  h5 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.feature-image-container {
  display: flex;
  justify-content: center;

  img {
    width: 400px;
    height: auto;
    margin-bottom: 1rem;
  }

  @media (max-width: 1400px) {
    img {
      max-width: 320px;
    }
  }

  @media (max-width: 1000px) {
    img {
      max-width: 300px;
    }
  }
}

.tab-container {
  margin-top: -5rem;
}

.scrollable-tabs {
  @media (max-width: 900px) {
    overflow-x: scroll;
  }
}

.nav {
  min-width: 700px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0.6rem 5rem;
  color: $click2pass-primary;
  background-color: #ffffff;

  &.active {
    background-color: $click2pass-primary;
    color: #ffffff;
  }

  &.left-tab {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.right-tab {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.center-tab {
    border-radius: 0;
  }

  @media (max-width: 1480px) {
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
  }

  @media (max-width: 990px) {
    margin-bottom: 0.5rem;
  }
}

.tips-container {
  background-color: $click2pass-primary-light;

  h3 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.2rem;
  }
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* height */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $click2pass-primary; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($click2pass-primary, 10); 
}

ul.tips-list {
  list-style: none;
  padding-left: 1rem;

  li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  li::before {
    content: '✓';
  }
}

// ul.tips-list::before {
// }