<c-card class="shadow-sm">
  <c-card-body>
    @if(!this.examService.isPracticeModeON) {
    <c-row>
      <c-col>
        @if(!this.examService.isExamFinished.value && timeLeftInMinutes < 5) {
        <div class="time-left-warning">You have less than 5 minutes.</div>
        }
        @if(!this.examService.isExamFinished.value) {
        <div class="time-text">Time Left: {{ timeLeft }}</div>
        }
        <!-- @else {
        <div class="time-text">Time Left: {{ timeLeft }}</div>
        } -->
      </c-col>
      <c-col class="text-end">
        <a class="btn btn-restart" [routerLink]="getRestartLink()" fragment="simulation">Restart?</a>
      </c-col>
    </c-row>

    <hr />
    } @if(!this.examService.isExamFinished.value) {
    <p><b>Review Your Selected Question</b></p>
    } @else {
    <div>
      <!-- <button class="btn btn-danger" (click)="restartExam()">Take the test again</button> -->
      <button
        cButton
        size="lg"
        color="secondary"
        [title]="this.hideQuestionNumbers ? 'Show' : 'Hide'"
        (click)="toggleQuestionNumberVisibility()"
      >
        Review Your Answer @if(this.hideQuestionNumbers) {
        <svg [cIcon]="icons.cilChevronCircleUpAlt" size="xs"></svg>
        } @else {
        <svg [cIcon]="icons.cilChevronCircleDownAlt" size="xs"></svg>
        }
      </button>
    </div>
    }

    <div
      class="question-number-grid-container"
      [hidden]="this.examService.isExamFinished.value && hideQuestionNumbers"
    >
      <c-row [xs]="5" [sm]="5" [md]="5" [lg]="5" [xl]="5" [xxl]="5">
        @for (questionIndex of questionIndecies; track $index) {
        <c-col>
          <button
            cButton
            color="danger"
            [class]="
              this.examService.isExamFinished.value == false
                ? this.currentQuestionIndex == questionIndex
                  ? 'btn-question-number shadow current'
                  : this.examService.reviewLater[questionIndex]
                  ? 'btn-question-number shadow review'
                  : this.examService.answers[questionIndex]
                  ? 'btn-question-number shadow answered'
                  : 'btn-question-number shadow generic'
                : this.examService.answerCorrectStatus[questionIndex]
                ? 'btn-question-number shadow correct'
                : 'btn-question-number shadow wrong'
            "
            (click)="onCLickQuestionNumber(questionIndex)"
          >
            {{ questionIndex + 1 }}
          </button>
        </c-col>
        }
      </c-row>
    </div>

    @if(!this.examService.isPracticeModeON) {
    <c-row>
      <c-col>
        <p>
          To be reviwed: <b>{{ this.examService.getReviewlaterCount() }}</b>
        </p>
      </c-col>
    </c-row>
    <c-row>
      <c-col>
        <p>
          Answered: <b>{{ answeredCount }}</b>
        </p>
      </c-col>
      <c-col class="text-end">
        <p>
          Not answered: <b>{{ notAnsweredCount }}</b>
        </p>
      </c-col>
    </c-row>

    <hr />

    <c-row>
      <c-col>
        <p>Pass mark</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <!-- <b>{{ passMarkPercentage }}%</b> -->
          <b>75%</b>
        </p>
      </c-col>
    </c-row>

    <!-- <c-row>
      <c-col>
        <p>Allowed mistakes</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <b>{{ allowedMistakesCount }} Questions</b>
        </p>
      </c-col>
    </c-row> -->

    <c-row>
      <c-col>
        <p>Total time</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <b>{{ examTimeInMinutes }} Minutes</b>
        </p>
      </c-col>
    </c-row>
    }
  </c-card-body>
</c-card>
