$click2pass-primary: #d80621;
$click2pass-warning: #f9b115;
$click2pass-answered: #263238;
$click2pass-primary-light: #d8062108;
$click2pass-pink: #ffe1e7;
$click2pass-pink-light: #fdf2f4;
// $click2pass-success-2: #2e7d32;
// $click2pass-danger: #c62828;
$click2pass-success-2: #A5D6A7;
$click2pass-danger: #EF9A9A;

$ca-answered: #2d4863;
$ca-background: #e9eaec;
$ca-review: #ff9900;
$ca-current: #ffffff;

.card {
  a {
    color: $click2pass-primary;
  }

  p {
    font-size: 1.1rem;
  }
}

.time-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.question-number-grid-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-question-number {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: $click2pass-pink-light;
  border: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 52px;
  width: 52px;

  &.generic {
    color: $ca-answered;
    background-color: $ca-background;
    border: 1px solid $ca-answered;
  }

  &.current {
    // color: #ffffff !important;
    // background-color: $click2pass-primary !important;
    // color: $ca-answered !important;
    // background-color: $ca-current !important;
    // background-color: transparentize($ca-current, 0.9) !important;

    &.generic {
      color: $ca-answered !important;
      background-color: transparentize($color: $ca-background, $amount: 0.5) !important;
    }

    &.answered {
      color: #ffffff !important;
      background-color: transparentize($color: $ca-answered, $amount: 0.2) !important;
    }

    &.review {
      color: $ca-answered !important;
      background-color: transparentize($color: $ca-review, $amount: 0.2) !important;
    }

    border: 1px solid $ca-answered;
  }

  &.review {
    // color: #ffffff !important;
    // background-color: $click2pass-warning !important;
    color: $ca-answered !important;
    background-color: $ca-review !important;
    border: 1px solid $ca-answered;
  }

  &.answered {
    color: #ffffff;
    // background-color: $click2pass-answered !important;
    background-color: $ca-answered;
    border: 1px solid $ca-answered;
  }

  &.correct {
    // color: #ffffff !important;
    color: green !important;
    background-color: $click2pass-success-2 !important;
  }

  &.wrong {
    // color: #ffffff !important;
    color: #B71C1C !important;
    background-color: $click2pass-danger !important;
  }
}


.btn-restart {
  background-color: $click2pass-primary;
  color: white !important;
  transition: 0.3s;

  &:hover {
    background-color: lighten($click2pass-primary, 30);
    color: black !important;
  }
}

.time-left-warning {
  color: red;
  font-size: 1rem;
  font-weight: 700;
  min-width: 14rem;
}

.list-view-heading {
  font-size: 1.2rem;
}

.nav-link {
  color: $click2pass-primary;
  background-color: #ffffff;

  &.active {
    background-color: $click2pass-primary;
    color: #ffffff !important;
  }
}

.indicator-square {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.5rem;

  &.r {
    background-color: $ca-review;
  }

  &.a {
    background-color: $ca-answered;
  }

  &.na {
    background-color: $ca-background;
  }
}

.btn-review {
  background-color: $ca-answered;
  color: white;
}

.btn-retake {
  background-color: $click2pass-primary;
  color: white;
}