<c-card class="shadow-sm">
  <c-card-body>
    <c-row>
      <c-col>
        <div class="time-text">Time Left: {{ timeLeft }}</div>
      </c-col>
      <c-col class="text-end">
        <a routerLink="/citizenship">Restart?</a>
      </c-col>
    </c-row>

    <hr />

    <p><b>View Question</b></p>

    <div class="question-number-grid-container">
      <c-row [lg]="7">
        @for (questionIndex of questionIndecies; track $index) {
        <c-col>
          <button
            cButton
            color="danger"
            class="btn-question-number shadow current"
          >
            {{ questionIndex + 1 }}
          </button>
        </c-col>
        }
      </c-row>
    </div>

    <c-row>
      <c-col>
        <p>
          Answered: <b>{{ answeredCount }}</b>
        </p>
      </c-col>
      <c-col class="text-end">
        <p>
          Not answered: <b>{{ notAnsweredCount }}</b>
        </p>
      </c-col>
    </c-row>

    <hr />

    <c-row>
      <c-col>
        <p>Pass mark</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <b>{{ passMarkPercentage }}%</b>
        </p>
      </c-col>
    </c-row>

    <c-row>
      <c-col>
        <p>Allowed mistakes</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <b>{{ allowedMistakesCount }} Questions</b>
        </p>
      </c-col>
    </c-row>

    <c-row>
      <c-col>
        <p>Total time</p>
      </c-col>
      <c-col class="text-end">
        <p>
          <b>{{ examTimeInMinutes }} Minutes</b>
        </p>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
