$click2pass-primary: #d80621;
$click2pass-warning: #f9b115;
$click2pass-answered: #263238;
$click2pass-primary-light: #d8062108;
$click2pass-pink: #ffe1e7;
$click2pass-pink-light: #fdf2f4;

.card {
  a {
    color: $click2pass-primary;
  }

  p {
    font-size: 1.1rem;
  }
}

.time-text {
  font-weight: 700;
  font-size: 1.2rem;
}

.question-number-grid-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-question-number {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: $click2pass-pink-light;
  border: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 52px;
  width: 52px;

  &:active {
    color: #ffffff;
    background-color: $click2pass-primary;
  }

  &.current {
    color: #ffffff !important;
    background-color: $click2pass-primary !important;
  }

  &.review {
    color: #ffffff !important;
    background-color: $click2pass-warning !important;
  }

  &.answered {
    color: #ffffff !important;
    background-color: $click2pass-answered !important;
  }
}
