<div class="master-container" id="intro">
    <c-container>
        <c-row>
            <c-col sm="12">
                <h1 class="text-center">Click2Pass Privacy Policy</h1>
                <p class="text-center">
                    <b>Date of last revision: 12 September 2024</b>
                </p>
            </c-col>

            <c-col sm="12" class="privacy-policy-container mt-3">
                <section>
                    <h2>Security</h2>
                    <p>
                        Security of your personal data and hardware (which may sometimes get vulnerable from
                        cyber-attacks while using webpages) is of maximum importance to us. However, websites sometimes
                        can fall victim to cyber-attacks. Even though we always try to use proper security technology to
                        prevent cyber-attacks, it can still occur. If any such incident occurs while you are using our
                        website, we cannot be held responsible for such cybercrimes of any bad actor. You should always
                        be alert on maintaining security from cyber threats.
                    </p>
                </section>

                <section>
                    <h2>Cookies</h2>

                    <p>
                        Cookies are files with small amount of data that may sometimes include an anonymous unique
                        identifier which are sent to the browser of users from a website during usage, and may be stored
                        on your computer's hard drive. Like many sites we may decide to use "cookies" to collect
                        information. If you do not want cookies to be stored, please use your browser settings to refuse
                        those. You can decide which cookies you want to allow or refuse. However, refusing cookies can
                        sometime disable various sections or functionalities of our site, and can also disrupt browsing
                        performance.
                    </p>
                </section>

                <section>
                    <h2>Links to Other Web Pages</h2>

                    <p>
                        Click2pass may contain links to other web sites which are not in our control. If you browse away
                        to those sites, we cannot be held responsible for any incident caused by those sites/pages. If
                        you click on a third party link, you will be directed to that party’s website. Those websites
                        may have their own privacy and security practices. You should use your own judgement in using
                        any of those sites or pages. Please review the privacy policy of those sites. We are not
                        responsible for those and cannot be held accountable.
                    </p>
                </section>

                <section>
                    <h2>Data Protection Rights</h2>

                    <p>
                        If, at any time, now or in future we collect any personal data, you have following rights:
                        <br />
                        Right to Access personal information: You have the right to ask for copy of your personal
                        information.<br />
                        Right to Change/Rectify /Modification: You have the right to request us to change, rectify or
                        modify personal information about you. <br />
                        Right to delete personal Information: You have the right to ask us to delete all information
                        related to you if kept in our system. <br />
                        Right to withdraw Consent: If we ever take your consent to collect any data, you have the right
                        to withdraw your consent at any time. <br />
                    </p>
                </section>

                <section>
                    <h2>Distribution of Information for Legal Requirements</h2>

                    <p>
                        We may share information on your access to our site with government and law enforcing agencies
                        or any other proper authority to assist fraud prevention or investigation of possible crimes. We
                        may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent
                        actual or potential fraud or unauthorised transactions; or, (3) investigating fraud which has
                        already taken place, (4) To protect against legal liabilities (5) To protect the personal safety
                        of users of the of our site or public in general (6) To protect and defend the rights or
                        property of Click2pass.ca and click2pass.com.
                    </p>
                </section>

                <section>
                    <h2>Information Selling for Marketing Purposes</h2>

                    <p>
                        We do not sell any data related to your access and usage of our site to any third party
                        marketing agencies.
                    </p>
                </section>

                <section>
                    <h2>Service Providers</h2>

                    <p>
                        We may employ third party companies and individuals to facilitate our Service (“Service
                        Providers”), to provide the Service on our behalf, to perform Service-related services or to
                        assist us in analyzing how our Service is used.<br />
                        These third parties have access to your personal data (if we ever collect any) only to perform
                        tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                    </p>
                </section>

                <section>
                    <h2>Analytics</h2>

                    <p>
                        We may use third-party Service Providers to monitor and analyze the use of our Service such as
                        Google Analytics, Similarweb etc. These service providers track and report website traffic.
                        Google uses the data collected to track and website traffic and to analyse performance of our
                        website, service quality etc. They may use the collected data to contextualize and personalize
                        ads they sell. Please visit their respective Privacy & Terms pages.
                    </p>
                </section>

                <section>
                    <h2>Visitor&apos;s Consent to Privacy Policy</h2>

                    <p>
                        By visiting and using this website, you the visitor(s) acknowledge that you have read this
                        Privacy Policy of click2pass.ca and click2pass.com and agree to be bound by this policy. If you
                        do not agree to the Privacy Policy you are not authorized to use this site and being advised to
                        avoid visiting the site.
                    </p>
                </section>

                <section>
                    <h2>Changes to this Privacy Policy</h2>

                    <p>
                        Click2pass reserves the right to make changes to this policy as and when required.
                        We may update this Privacy Policy as and when required, as per our requirements and also by laws
                        of Canada. You are advised to review this Privacy Policy periodically for any changes. If a
                        revision meaningfully reduces your rights, we will notify you at least thirty (30) days before
                        the effective date of the changes.
                    </p>
                </section>
            </c-col>
        </c-row>
    </c-container>
</div>