<div class="master-container" id="intro">
    <c-container>
        <c-row>
            <c-col sm="12">
                <h1 class="text-center">Click2Pass Privacy Policy</h1>
                <p class="text-center">
                    <b>Date of last revision: 31 August 2024</b>
                </p>
            </c-col>

            <c-col sm="12" class="privacy-policy-container mt-3">
                <section>
                    <h2>1. Test Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quod facilis quos sint ipsam a unde
                        officiis ut. Officiis eveniet nihil velit assumenda, harum nostrum id quia perferendis
                        recusandae ducimus!</p>
                </section>

                <section>
                    <h2>2. Test Title</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quod facilis quos sint ipsam a unde
                        officiis ut. Officiis eveniet nihil velit assumenda, harum nostrum id quia perferendis
                        recusandae ducimus!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quod facilis quos sint ipsam a unde
                        officiis ut. Officiis eveniet nihil velit assumenda, harum nostrum id quia perferendis
                        recusandae ducimus!</p>
                </section>

                <section>
                    <h2>3. Test Title</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam expedita eveniet
                        consequuntur magnam. Quae tempore, modi tempora architecto quidem inventore vitae cupiditate
                        itaque expedita explicabo distinctio minima error beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam expedita eveniet
                        consequuntur magnam. Quae tempore, modi tempora architecto quidem inventore vitae cupiditate
                        itaque expedita explicabo distinctio minima error beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam expedita eveniet
                        consequuntur magnam. Quae tempore, modi tempora architecto quidem inventore vitae cupiditate
                        itaque expedita explicabo distinctio minima error beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam expedita eveniet
                        consequuntur magnam. Quae tempore, modi tempora architecto quidem inventore vitae cupiditate
                        itaque expedita explicabo distinctio minima error beatae!</p>
                </section>
            </c-col>
        </c-row>
    </c-container>
</div>