$click2pass-primary: #d80621;

.hero-container {
  // background: rgb(216, 6, 33);
  // background: linear-gradient(
  //   90deg,
  //   rgba(216, 6, 33, 1) 20%,
  //   rgba(255, 255, 255, 1) 100%
  // );
  background-image: url("../../../../assets/images/slide-2-new.jpg");
  color: black;
  padding: 2rem 10rem;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 3rem;
    color: $click2pass-primary;
  }

  p {
    font-size: 1.2rem;
  }

  @media (max-width: 1200px) {
    h1 {
      font-weight: 700;
      font-size: 2rem;
      margin-top: -50px;
    }
    
    p {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 1000px) {
    height: 600px;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: 600px) {
    height: 800px;
  }
}

.btn-get-started {
  color: #ffffff;
  background-color: $click2pass-primary;
  margin-top: 1.2rem;
}

.feature-text-container {
  max-width: 800px;
  margin-right: 3rem;

  @media (max-width: 1000px) {
    order: 2;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1.5rem;
    }
  }
}

.feature-image-container {
  img {
    width: 320px;
    height: auto;
  }

  @media (max-width: 1000px) {
    order: 1;

    img {
      max-width: 280px;
    }
  }
}

.heading-break {
  @media (max-width: 1000px) {
    display: none;
  }
}
