<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      <!-- Canadian <br class="heading-break" />
      Citizenship Test -->
      Canadian Citizenship Test Preparations
    </h1>
    <p>
      Looking forward to become a proud citizen of Canada? One of the last step for that is to take the Canadian
      citizenship test. But you have no clue how to prepare? We are here to help you take preparation for
      Canadian citizenship test, all online. Just go through our free for all practice tests. It covers all the chapters
      and topics that you need to master for passing in one go.
    </p>
    <button cButton color="light" class="btn-get-started" shape="rounded-pill" [routerLink]="['citizenship']">
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button>
  </div>
  <div class="feature-image-container">
    <img src="assets/images/feature-image-1.png" alt="Feature image 1" />
  </div>
</div>