<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      Canadian <br class="heading-break" />
      Citizenship Test
    </h1>
    <p>
      Becoming a proud citizen of Canada is indeed an exciting milestone! Our
      site can help you prepare for the journey. We provide comprehensive
      resources for you to acquire necessary knowledge and enhance your test
      taking skills. We are sure you will be able to do it, confidently!
    </p>
    <button
      cButton
      color="light"
      class="btn-get-started"
      shape="rounded-pill"
      [routerLink]="['citizenship']"
    >
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button>
  </div>
  <div class="feature-image-container">
    <img src="assets/images/feature-image-1.png" alt="Feature image 1" />
  </div>
</div>
