<div class="feature-master-container" id="intro">
  <c-container>
    <c-row>
      <c-col md="6" lg="4" class="feature-image-container">
        <img
          src="assets/images/feature-driving-test.png"
          alt="Citizenship Test"
        />
      </c-col>
      <c-col md="6" lg="8" class="feature-text-container">
        <h5>Driving License Test & Practice</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          suscipit hic numquam fugit aliquam ut mollitia earum voluptates
          obcaecati, provident iusto molestiae cupiditate quis animi aliquid
          eius nisi, quasi tempora!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam atque
          rem, unde quia obcaecati quo illum minima eligendi dolore impedit
          pariatur cupiditate omnis necessitatibus exercitationem possimus sunt,
          explicabo suscipit! Quas!
        </p>
      </c-col>
    </c-row>
  </c-container>
</div>

<div class="tab-container">
  <c-container>
    <div class="scrollable-tabs">
      <c-nav variant="pills" class="justify-content-center">
        <a
          class="left-tab shadow"
          [active]="this.activatedRoute.snapshot.fragment != 'simulation'"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="0"
          cNavLink
          >Random Practice</a
        >
        <a
          class="center-tab shadow"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="1"
          cNavLink
          >Questions of Road Signs</a
        >
        <a
          class="center-tab shadow"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="2"
          cNavLink
          >Questions of Rules of the Road</a
        >
        <!-- <a
          class="right-tab shadow"
          [active]="this.activatedRoute.snapshot.fragment == 'simulation'"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="3"
          cNavLink
          >Simulation Test</a
        > -->
      </c-nav>
    </div>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              eveniet ad aliquid consequatur quo aut, voluptates consectetur
              commodi fuga, aspernatur autem quas libero adipisci ut fugiat,
              tempore quis eaque quod ea amet ipsum recusandae? At iure odio
              quia blanditiis laboriosam non id similique perferendis expedita
              totam magnam natus minus nesciunt excepturi deserunt, quibusdam
              dolor ipsa amet ratione aut.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail examType="randomPractice" />
          </c-col>
        </c-row>
      </c-tab-pane>
      <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Nullam purus ligula, tristique eu arcu vehicula, placerat
              hendrerit urna. Quisque aliquam dolor eu tincidunt pharetra.
              Suspendisse viverra laoreet ipsum sit amet egestas. Aenean id
              massa vestibulum, laoreet metus nec, pulvinar orci. In in lacus
              scelerisque, aliquam odio vestibulum, placerat leo. Fusce varius
              velit id ligula sodales pharetra.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail examType="roadSignDrivingPractice" [questionSets]="this.roadSignSets" />
          </c-col>
        </c-row>
      </c-tab-pane>
      <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Donec lobortis lacinia neque, non porta urna porta nec. Praesent
              vitae augue purus. Proin rutrum, velit eget lacinia dapibus, felis
              turpis tempus tortor, nec ullamcorper quam quam molestie nisi.
              Donec blandit viverra nulla et maximus. Curabitur viverra finibus
              dui quis malesuada. Etiam quis pretium nulla. Nullam elementum
              purus cursus eros ullamcorper, eget viverra purus pellentesque.
              Integer varius iaculis augue et elementum.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail examType="roadRulesDrivingPractice" [questionSets]="this.rulesOfRoadSets" />
          </c-col>
        </c-row>
      </c-tab-pane>
      <!-- <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Nullam purus ligula, tristique eu arcu vehicula, placerat
              hendrerit urna. Quisque aliquam dolor eu tincidunt pharetra.
              Suspendisse viverra laoreet ipsum sit amet egestas. Aenean id
              massa vestibulum, laoreet metus nec, pulvinar orci. In in lacus
              scelerisque, aliquam odio vestibulum, placerat leo. Fusce varius
              velit id ligula sodales pharetra.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail
              examType="chapterWise"
              [chapters]="chapters"
            />
          </c-col>
        </c-row>
      </c-tab-pane>
      <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Donec lobortis lacinia neque, non porta urna porta nec. Praesent
              vitae augue purus. Proin rutrum, velit eget lacinia dapibus, felis
              turpis tempus tortor, nec ullamcorper quam quam molestie nisi.
              Donec blandit viverra nulla et maximus. Curabitur viverra finibus
              dui quis malesuada. Etiam quis pretium nulla. Nullam elementum
              purus cursus eros ullamcorper, eget viverra purus pellentesque.
              Integer varius iaculis augue et elementum.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail
              examType="setWise"
              [questionSets]="questionSets"
            />
          </c-col>
        </c-row>
      </c-tab-pane> -->
      <!-- <c-tab-pane class="p-3">
        <c-row class="mt-5">
          <c-col lg="8">
            <p>
              Duis facilisis auctor ornare. Donec felis orci, venenatis vitae
              faucibus ac, facilisis sed nisi. Curabitur eleifend turpis sed
              venenatis consectetur. Integer mattis nisl odio, a volutpat tortor
              iaculis eget. Maecenas consectetur, purus non sodales pulvinar,
              dui nisl sollicitudin odio, nec aliquam purus purus eu elit.
              Curabitur molestie iaculis luctus. Maecenas venenatis facilisis
              risus id lobortis. Integer mauris elit, egestas et quam nec,
              rhoncus ultrices tortor. Integer faucibus augue nec eleifend
              tincidunt.
            </p></c-col
          >
          <c-col lg="4" class="d-flex justify-content-end">
            <app-exam-type-detail examType="simulation" />
          </c-col>
        </c-row>
      </c-tab-pane> -->
    </c-tab-content>
  </c-container>
</div>

<div class="tips-container">
  <c-container>
    <h3>How to Prepare for the Canadian Driving license Test</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis libero
      fugiat accusamus minima excepturi fuga. Eligendi tempora odit eos quaerat
      dignissimos? Ullam enim, sunt dicta ab facere corporis maiores rem
      exercitationem sint placeat, aliquid tempora architecto minus veniam?
      Reprehenderit quae doloribus rem. Harum molestiae, iure, possimus amet
      magnam aut quibusdam optio quis alias quasi tempore voluptatem. Vero ad,
      rerum nesciunt deleniti dolore atque odio ab nisi perferendis, iure
      necessitatibus. Pariatur nisi voluptatem ab assumenda reiciendis rerum
      voluptatum adipisci ex animi cumque? Non error adipisci sit accusamus hic
      rerum beatae neque ab consectetur recusandae reiciendis officiis rem ad,
      soluta ipsa esse eveniet optio earum assumenda? Possimus perspiciatis at
      asperiores similique neque quaerat sunt tenetur repudiandae maxime non
      corporis accusamus, consequuntur officia.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis libero
      fugiat accusamus minima excepturi fuga. Eligendi tempora odit eos quaerat
      dignissimos? Ullam enim, sunt dicta ab facere corporis maiores rem
      exercitationem sint placeat, aliquid tempora architecto minus veniam?
      Reprehenderit quae doloribus rem. Harum molestiae, iure, possimus amet
      magnam aut quibusdam optio quis alias quasi tempore voluptatem. Vero ad,
      rerum nesciunt deleniti dolore atque odio ab nisi perferendis, iure
      necessitatibus. Pariatur nisi voluptatem ab assumenda reiciendis rerum
      voluptatum adipisci ex animi cumque? Non error adipisci sit accusamus hic
      rerum beatae neque ab consectetur recusandae reiciendis officiis rem ad,
      soluta ipsa esse eveniet optio earum assumenda? Possimus perspiciatis at
      asperiores similique neque quaerat sunt tenetur repudiandae maxime non
      corporis accusamus, consequuntur officia.
    </p>
  </c-container>
</div>
