<div class="feature-master-container">
  <c-container>
    <c-row>
      <c-col lg="4" class="feature-image-container">
        <img
          src="assets/images/feature-driving-test.png"
          alt="Citizenship Test"
        />
      </c-col>
      <c-col lg="8" class="feature-text-container">
        <h5>Driving License Test & Practice</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          suscipit hic numquam fugit aliquam ut mollitia earum voluptates
          obcaecati, provident iusto molestiae cupiditate quis animi aliquid
          eius nisi, quasi tempora!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam atque
          rem, unde quia obcaecati quo illum minima eligendi dolore impedit
          pariatur cupiditate omnis necessitatibus exercitationem possimus sunt,
          explicabo suscipit! Quas!
        </p>
      </c-col>
    </c-row>
  </c-container>
</div>
<h1 style="text-align: center">Coming Soon...</h1>
