<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      <!-- Canadian <br class="heading-break" />
      Citizenship Test -->
      G1 Knowledge Test
    </h1>
    <p>
      Welcome to Ontario G1 knowledge test preparations. It will be fun and
      exciting to have your driving license soon. Our resources will guide you
      through the rules of the road, traffic signs, safe driving practices, and
      prepare for passing it in one go!
    </p>
    <button
      cButton
      color="light"
      class="btn-get-started"
      shape="rounded-pill"
      [routerLink]="['driving']"
    >
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button>
  </div>
  <div class="feature-image-container">
    <img src="assets/images/feature-image-1.png" alt="Feature image 1" />
  </div>
</div>
