<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      <!-- Canadian <br class="heading-break" />
      Citizenship Test -->
      Ontario G1 Test Preparations
    </h1>
    <p>
      Looking forward to have your Ontario G1 driving License? You need to cross a hurdle before that – yes the
      G1 knowledge test. If you cannot manage time to read all the books and manuals, and search numerous
      web pages, we are here to help with all necessary tools.
    </p>
    <button cButton color="light" class="btn-get-started" shape="rounded-pill" [routerLink]="['driving']">
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button>
  </div>
  <div class="feature-image-container">
    <img src="assets/images/feature-image-1.png" alt="Feature image 1" />
  </div>
</div>