<div class="master-container" id="intro">
  <c-container>
    <c-row>
      <c-col sm="12">
        <h1 class="text-center">About Us</h1>
      </c-col>

      <c-col sm="12" class="about-container mt-3">
        <p>Click2pass is a Canadian company owned by Canadians.</p>

        <p>
          Our vision is to provide support to Canadians and other nationalities
          who would love to be Canadians themselves in the near future.
        </p>

        <p>
          As of now we are providing support to help people require preparations
          for Canadian citizenship test and Ontario G1 driving test. We are
          committed to offer preparations for many other tests in the coming
          days.
        </p>

        <p>
          We thrive to be a law abiding corporate citizen of Canada, and
          contribute to betterment of Canada, economically and socially. We
          truly believe in being a customer friendly company, hence welcome your
          comments and suggestions at all times. If you want to let us know how
          you feel or want to leave a suggestion please click
          <a [routerLink]="['/contact-us']" fragment="top">here</a>.
        </p>
      </c-col>
    </c-row>
  </c-container>
</div>
