
$click2pass-primary: #d80621;
$click2pass-primary-light: #d8062108;

.master-container {
  background-color: $click2pass-primary-light;
  height: 100%;
}

.about-container {
  // background-color: white;
  border-radius: 5px;
  padding: 1rem;

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
    color: $click2pass-primary;
}