$click2pass-primary: #d80621;
$mt-green: #388E3C;
$mt-orange: #F57C00;

.container-navbar {
  justify-content: space-between;
}

.bg-light {
  background-color: white !important;
}

.btn-contact {
  font-size: 1.2rem;
  color: white;
  background-color: $click2pass-primary;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: 1000px) {
    display: none;
  }
}

.navbar-brand {
  color: $click2pass-primary;
}

.nav-link {
  font-size: 1.2rem;

  border: none !important;
  &.active {
    font-weight: bold;
    color: $click2pass-primary;
    border-bottom: 2px solid $click2pass-primary;
  }
}

.btn-toggle-hamburger {
  @media (min-width: 1001px) {
    display: none;
  }
}

.desktop-nav {
  @media (max-width: 1000px) {
    display: none;
  }
}

#OffcanvasSidebar {
  @media (min-width: 1000px) {
    display: none !important;
  }
}

.logo {
  max-width: 10rem;
  height: auto;
}

.link-sidebar-home {
  color: $mt-green;
}

.link-sidebar-citizenship {
  color: $click2pass-primary;
}

.link-sidebar-driving {
  color: $mt-orange;
}