<c-navbar class="bg-light shadow" colorScheme="light" expand="lg">
  <c-container class="container-navbar">
    <button
      class="btn-toggle-hamburger"
      [cNavbarToggler]
      cOffcanvasToggle="OffcanvasSidebar"
    ></button>

    <div>
      <a cNavbarBrand>
        <img
          src="assets/images/logo-2.png"
          alt="Click2Pass Logo"
          class="logo"
        />
        <!-- <span class="align-middle ms-2">Click2Pass</span> -->
      </a>
    </div>

    <!-- <div #collapseRef="cCollapse" cCollapse navbar> -->
    <!-- me-auto -->
    <c-navbar-nav class="mb-2 mb-lg-0 desktop-nav">
      <a
        cNavLink
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        cNavLink
        routerLink="/canada-citizenship-test-preparation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Citizenship</a
      >
      <a
        cNavLink
        routerLink="/ontario-g1-driving-preparation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Driving License</a
      >
    </c-navbar-nav>
    <!-- </div> -->

    <div>
      <button
        cButton
        color="danger"
        class="btn-contact"
        shape="rounded-pill"
        size="sm"
        [routerLink]="['contact-us']"
      >
        Contact
      </button>
    </div>
  </c-container>

  <c-offcanvas placement="start" id="OffcanvasSidebar">
    <c-offcanvas-header>
      <button
        cButtonClose
        class="text-reset"
        cOffcanvasToggle="OffcanvasSidebar"
        aria-label="Close"
      ></button>
    </c-offcanvas-header>

    <c-offcanvas-body>
      <c-navbar-nav class="mb-2 mb-lg-0">
        <a
          [cNavbarToggler]
          cOffcanvasToggle="OffcanvasSidebar"
          cNavLink
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-sidebar-home"
          >Home</a
        >
        <a
          [cNavbarToggler]
          cOffcanvasToggle="OffcanvasSidebar"
          cNavLink
          routerLink="/citizenship"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-sidebar-citizenship"
          >Citizenship</a
        >
        <a
          [cNavbarToggler]
          cOffcanvasToggle="OffcanvasSidebar"
          cNavLink
          routerLink="/driving"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link-sidebar-driving"
          >Driving License</a
        >
      </c-navbar-nav>
    </c-offcanvas-body>
  </c-offcanvas>
</c-navbar>
