$click2pass-primary: #d80621;
$click2pass-primary-light: #d8062108;
$click2pass-pink: #ffe1e7;
$click2pass-success: #4caf50;
$click2pass-success-light: #e8f5e9;
$click2pass-warning-light: #fff8e1;
$click2pass-deep-gray: #263238;

.card {
  a {
    text-decoration: none;
    color: $click2pass-primary;
  }
}

.card-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 0.6rem;
}

.question-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.6rem 0;
}

.form-check {
  margin: 1rem 0;
}

.form-check-input {
  &:checked {
    background-color: $click2pass-deep-gray;
    border-color: $click2pass-deep-gray;
  }
}

.button-container {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-bottom: 1.4rem;

  button {
    width: 100%;
    color: $click2pass-primary;
    background-color: $click2pass-pink;
    border: 0;

    &:hover {
      color: #ffffff;
      background-color: $click2pass-primary;
    }

    &:disabled {
      color: unset;
    }
  }
}

.img-question {
  max-height: 300px;
  width: auto;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.img-answer {
  max-height: 200px;
  width: auto;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.form-check-input {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.answer-text {
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.correct {
  border-radius: 10px;
  background-color: $click2pass-success-light;
  color: $click2pass-success;
}

.wrong {
  border-radius: 10px;
  background-color: $click2pass-primary-light;
  color: $click2pass-primary;
}

.correct-feedback {
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: $click2pass-success-light;
  color: $click2pass-success;
}

.incorrect-feedback {
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: $click2pass-primary-light;
  color: $click2pass-primary;
}

.review-warning {
  .card-body {
    background-color: $click2pass-warning-light;
  }

  .review-warning-text {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
    min-width: 7rem;
    color: #ffffff !important;
  }
}

.icon:not(.icon-c-s):not(.icon-custom-size).icon-xl {
  width: 1.8rem !important;
  height: 1.8rem !important;
}

.chk-review-later {
  width: 24px;
  height: 24px;
}

.label-review-later {
  margin-top: 0.6rem;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}