<c-card class="shadow-sm">
  @if(question) {
  <c-card-body>
    <a routerLink="/citizenship"
      ><svg [cIcon]="icons.cilArrowLeft" size="xs"></svg>&nbsp;All Test</a
    >
    <h4 cCardTitle>Question {{ questionIndex + 1 }} of {{ totalQuestions }}</h4>
    <hr />
    <div class="question-text">
      {{ question.questionText }}
    </div>
    <form cForm>
      @if(question.answerOption1Text) {
      <c-form-check>
        <input
          cFormCheckInput
          checked
          id="radioStack1"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack1">{{
          question.answerOption1Text
        }}</label>
      </c-form-check>
      } @if(question.answerOption2Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack2"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack2">{{
          question.answerOption2Text
        }}</label>
      </c-form-check>
      } @if(question.answerOption3Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack3"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack3">{{
          question.answerOption3Text
        }}</label>
      </c-form-check>
      } @if(question.answerOption4Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack4"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack4">{{
          question.answerOption4Text
        }}</label>
      </c-form-check>
      } @if(question.answerOption5Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack5"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack5">{{
          question.answerOption5Text
        }}</label>
      </c-form-check>
      } @if(question.answerOption6Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack6"
          name="radioStack"
          type="radio"
        />
        <label cFormCheckLabel for="radioStack6">{{
          question.answerOption6Text
        }}</label>
      </c-form-check>
      }
    </form>
  </c-card-body>
  <c-row class="button-container">
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-prev"
        shape="rounded-pill"
        [disabled]="questionIndex == 0"
      >
        Previous
      </button>
    </c-col>
    <c-col>
      @if(questionIndex == totalQuestions - 1) {
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onQuestionAnswered(true)"
      >
        Finish Exam
      </button>
      } @else {
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onQuestionAnswered(false)"
      >
        Next
      </button>
      }
    </c-col>
  </c-row>

  }
</c-card>
