@if(isPendingReviewWarningVisible && this.examService.isExamFinished.value ==
false) {
<c-card class="shadow-sm review-warning">
  <c-card-body>
    <c-row>
      <c-col>
        <div class="review-warning-text">
          You have marked {{ this.examService.getReviewlaterCount() }} questions
          for review. Are you sure you want to finish this exam without
          reviewing them?
        </div>
      </c-col>
    </c-row>
    <c-row class="mt-3">
      <c-col xs="2">
        <button
          cButton
          color="secondary"
          shape="rounded-pill"
          (click)="onClosePendingWarning()"
        >
          Go Back
        </button>
      </c-col>
      <c-col xs="2">
        <button
          cButton
          color="danger"
          shape="rounded-pill"
          (click)="finishExam()"
        >
          Submit
        </button>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
} @else {

<c-card class="shadow-sm">
  @if(question) {
  <c-card-body>
    <a [routerLink]="getRestartLink()"
      ><svg [cIcon]="icons.cilArrowLeft" size="xs"></svg>&nbsp;All Test</a
    >
    <h4 cCardTitle>Question {{ questionIndex + 1 }} of {{ totalQuestions }}</h4>
    <hr />
    <div class="question-text">
      {{ question.questionText }}
      <br />
      @if(question.questionMediaUrl) {
      <img
        [src]="IMG_ROOT + question.questionMediaUrl"
        alt="Question image"
        class="img-question"
        draggable="false"
      />
      }
    </div>
    <form [formGroup]="questionForm" cForm (change)="onFormChange()">
      @if(question.answerOption1Text) {
      <div>
        <c-form-check
          [ngClass]="{
            correct:
              (this.examService.isPracticeModeON ||
                this.examService.isExamFinished.value == true) &&
              this.examService.answers[this.questionIndex] &&
              this.isOptionCorrect[0],
            wrong:
              (this.examService.isPracticeModeON ||
                this.examService.isExamFinished.value == true) &&
              this.examService.answers[this.questionIndex] &&
              !this.isOptionCorrect[0] &&
              this.questionForm.controls.answer.value == '1'
          }"
        >
          @if( (this.examService.isPracticeModeON ||
          this.examService.isExamFinished.value == true) &&
          this.examService.answers[this.questionIndex] &&
          this.isOptionCorrect[0] ) {
          <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
          } @else if( (this.examService.isPracticeModeON ||
          this.examService.isExamFinished.value == true) &&
          this.examService.answers[this.questionIndex] &&
          !this.isOptionCorrect[0] && this.questionForm.controls.answer.value ==
          '1' ) {
          <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
          }

          <input
            cFormCheckInput
            id="radioStack1"
            type="radio"
            value="1"
            formControlName="answer"
          />
          <label cFormCheckLabel for="radioStack1">
            @if(question.answerOption1MediaUrl) {
            <img
              [src]="IMG_ROOT + question.answerOption1MediaUrl"
              alt="Answer option 1 image"
              class="img-answer"
              draggable="false"
            />
            <br />
            }

            <span class="answer-text">{{
              question.answerOption1Text
            }}</span></label
          >
        </c-form-check>
      </div>
      } @if(question.answerOption2Text) {
      <c-form-check
        [ngClass]="{
          correct:
            (this.examService.isPracticeModeON || this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            this.isOptionCorrect[1],
          wrong:
            (this.examService.isPracticeModeON || this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            !this.isOptionCorrect[1] &&
            this.questionForm.controls.answer.value == '2'
            ,
        }"
      >
        @if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && this.isOptionCorrect[1]
        ) {
        <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
        } @else if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && !this.isOptionCorrect[0]
        && this.questionForm.controls.answer.value == '2' ) {
        <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
        }

        <input
          cFormCheckInput
          id="radioStack2"
          type="radio"
          value="2"
          formControlName="answer"
        />
        <label cFormCheckLabel for="radioStack2">
          @if(question.answerOption2MediaUrl) {
          <img
            [src]="IMG_ROOT + question.answerOption2MediaUrl"
            alt="Answer option 2 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption2Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption3Text) {
      <c-form-check
        [ngClass]="{
          correct:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            this.isOptionCorrect[2],
          wrong:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            !this.isOptionCorrect[2] &&
            this.questionForm.controls.answer.value == '3'
        }"
      >
        @if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && this.isOptionCorrect[2]
        ) {
        <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
        } @else if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && !this.isOptionCorrect[0]
        && this.questionForm.controls.answer.value == '3' ) {
        <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
        }

        <input
          cFormCheckInput
          id="radioStack3"
          type="radio"
          value="3"
          formControlName="answer"
        />
        <label cFormCheckLabel for="radioStack3">
          @if(question.answerOption3MediaUrl) {
          <img
            [src]="IMG_ROOT + question.answerOption3MediaUrl"
            alt="Answer option 3 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption3Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption4Text) {
      <c-form-check
        [ngClass]="{
          correct:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            this.isOptionCorrect[3],
          wrong:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            !this.isOptionCorrect[3] &&
            this.questionForm.controls.answer.value == '4'
        }"
      >
        @if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && this.isOptionCorrect[3]
        ) {
        <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
        } @else if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && !this.isOptionCorrect[0]
        && this.questionForm.controls.answer.value == '4' ) {
        <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
        }

        <input
          cFormCheckInput
          id="radioStack4"
          type="radio"
          value="4"
          formControlName="answer"
        />
        <label cFormCheckLabel for="radioStack4">
          @if(question.answerOption4MediaUrl) {
          <img
            [src]="IMG_ROOT + question.answerOption4MediaUrl"
            alt="Answer option 4 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption4Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption5Text) {
      <c-form-check
        [ngClass]="{
          correct:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            this.isOptionCorrect[4],
          wrong:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            !this.isOptionCorrect[4] &&
            this.questionForm.controls.answer.value == '5'
        }"
      >
        @if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && this.isOptionCorrect[4]
        ) {
        <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
        } @else if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && !this.isOptionCorrect[0]
        && this.questionForm.controls.answer.value == '5' ) {
        <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
        }

        <input
          cFormCheckInput
          id="radioStack5"
          type="radio"
          value="5"
          formControlName="answer"
        />
        <label cFormCheckLabel for="radioStack5">
          @if(question.answerOption5MediaUrl) {
          <img
            [src]="IMG_ROOT + question.answerOption5MediaUrl"
            alt="Answer option 5 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption5Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption6Text) {
      <c-form-check
        [ngClass]="{
          correct:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            this.isOptionCorrect[5],
          wrong:
            (this.examService.isPracticeModeON ||
              this.examService.isExamFinished.value == true) &&
            this.examService.answers[this.questionIndex] &&
            !this.isOptionCorrect[5] &&
            this.questionForm.controls.answer.value == '6'
        }"
      >
        @if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && this.isOptionCorrect[5]
        ) {
        <svg [cIcon]="icons.cilCheckCircle" size="xl" class="mx-2"></svg>
        } @else if( (this.examService.isPracticeModeON ||
        this.examService.isExamFinished.value == true) &&
        this.examService.answers[this.questionIndex] && !this.isOptionCorrect[0]
        && this.questionForm.controls.answer.value == '6' ) {
        <svg [cIcon]="icons.cilXCircle" size="xl" class="mx-2"></svg>
        }

        <input
          cFormCheckInput
          id="radioStack6"
          type="radio"
          value="6"
          formControlName="answer"
        />
        <label cFormCheckLabel for="radioStack6">
          @if(question.answerOption6MediaUrl) {
          <img
            [src]="IMG_ROOT + question.answerOption6MediaUrl"
            alt="Answer option 6 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }
          <span class="answer-text">{{
            question.answerOption6Text
          }}</span></label
        >
      </c-form-check>
      }
    </form>

    @if(this.examService.isPracticeModeON &&
    this.examService.answers[this.questionIndex] && this.isCorrect) {
    <div class="correct-feedback">Your answer is correct!</div>
    } @else if(this.examService.isPracticeModeON &&
    this.examService.answers[this.questionIndex] && !this.isCorrect) {
    <div class="incorrect-feedback">
      Your answer is wrong. Option ({{ question.correctAnswerText }}) is the
      correct answer.
    </div>
    }
  </c-card-body>
  @if(this.questionForm.controls.answer.value &&
  !this.examService.isPracticeModeON && this.examService.isExamFinished.value ==
  false) {
  <c-row class="button-container">
    <c-col>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="chk-review-later"
          [(ngModel)]="reviewLater"
          (change)="onReviewStatusChange($event)"
        />
        <label class="form-check-label" for="chk-review-later">
          I want to review this answer later
        </label>
      </div>
    </c-col>
  </c-row>
  }

  <c-row class="button-container">
    <c-col>
      @if(!this.examService.isPracticeModeON &&
      this.examService.isExamFinished.value == false) {
      <button
        cButton
        color="danger"
        class="btn-prev"
        shape="rounded-pill"
        [disabled]="questionIndex == 0"
        (click)="onClickNavigate(questionIndex - 1)"
      >
        Previous
      </button>
      }
    </c-col>
    <c-col>
      <!-- @if(!(this.examService.isExamFinished.value == true && this.questionIndex
      == this.totalQuestions - 1)) { -->
      @if(this.examService.isExamFinished.value == false) {
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        [disabled]="
          this.examService.isPracticeModeON &&
          !this.examService.answers[questionIndex]
        "
        (click)="onClickNavigate(questionIndex + 1)"
      >
        {{ this.questionIndex < totalQuestions - 1 ? "Next" : "Finish Exam" }}
      </button>
      }
    </c-col>
  </c-row>
  @if(!this.examService.isPracticeModeON &&
  this.questionForm.controls.answer.value &&
  this.examService.isExamFinished.value == false) {
  <c-row class="button-container">
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onQuestionAnswered(questionIndex)"
      >
        Confirm Submission
      </button>
    </c-col>
  </c-row>
  } @if(this.examService.isExamFinished.value == false &&
  this.examService.answeredCount == this.totalQuestions &&
  !this.examService.isPracticeModeON) {
  <c-row class="button-container">
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onClickNavigate(99999999)"
      >
        Submit
      </button>
    </c-col>
  </c-row>
  } }
</c-card>
}
