<c-card class="shadow-sm">
  @if(question) {
  <c-card-body>
    <a routerLink="/citizenship"
      ><svg [cIcon]="icons.cilArrowLeft" size="xs"></svg>&nbsp;All Test</a
    >
    <h4 cCardTitle>Question {{ questionIndex + 1 }} of {{ totalQuestions }}</h4>
    <hr />
    <div class="question-text">
      {{ question.questionText }}
      <br />
      @if(question.questionMediaUrl) {
      <img
        [src]="question.questionMediaUrl"
        alt="Question image"
        class="img-question"
        draggable="false"
      />
      }
    </div>
    <form [formGroup]="questionForm" cForm>
      @if(question.answerOption1Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack1"
          type="radio"
          value="1"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack1">
          @if(question.answerOption1MediaUrl) {
          <img
            [src]="question.answerOption1MediaUrl"
            alt="Answer option 1 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption1Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption2Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack2"
          type="radio"
          value="2"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack2">
          @if(question.answerOption2MediaUrl) {
          <img
            [src]="question.answerOption2MediaUrl"
            alt="Answer option 2 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption2Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption3Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack3"
          type="radio"
          value="3"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack3">
          @if(question.answerOption3MediaUrl) {
          <img
            [src]="question.answerOption3MediaUrl"
            alt="Answer option 3 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption3Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption4Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack4"
          type="radio"
          value="4"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack4">
          @if(question.answerOption4MediaUrl) {
          <img
            [src]="question.answerOption4MediaUrl"
            alt="Answer option 4 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption4Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption5Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack5"
          type="radio"
          value="5"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack5">
          @if(question.answerOption5MediaUrl) {
          <img
            [src]="question.answerOption5MediaUrl"
            alt="Answer option 5 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }

          <span class="answer-text">{{
            question.answerOption5Text
          }}</span></label
        >
      </c-form-check>
      } @if(question.answerOption6Text) {
      <c-form-check>
        <input
          cFormCheckInput
          id="radioStack6"
          type="radio"
          value="6"
          formControlName="answer"
          (click)="onOptionClicked()"
        />
        <label cFormCheckLabel for="radioStack6">
          @if(question.answerOption6MediaUrl) {
          <img
            [src]="question.answerOption6MediaUrl"
            alt="Answer option 6 image"
            class="img-answer"
            draggable="false"
          />
          <br />
          }
          <span class="answer-text">{{
            question.answerOption6Text
          }}</span></label
        >
      </c-form-check>
      }
    </form>
  </c-card-body>
  @if(this.questionForm.controls.answer.value &&
  !this.examService.isPracticeModeON) {
  <c-row class="button-container">
    <c-col>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="chk-review-later"
          [(ngModel)]="reviewLater"
          (change)="onReviewStatusChange($event)"
        />
        <label class="form-check-label" for="chk-review-later">
          I want to review this answer later
        </label>
      </div>
    </c-col>
  </c-row>
  }
  <c-row class="button-container">
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-prev"
        shape="rounded-pill"
        [disabled]="questionIndex == 0"
        (click)="onClickNavigate(questionIndex - 1)"
      >
        Previous
      </button>
    </c-col>
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onClickNavigate(questionIndex + 1)"
      >
        Next
      </button>
    </c-col>
  </c-row>
  @if(!this.examService.isPracticeModeON && this.questionForm.controls.answer.value) {
  <c-row class="button-container">
    <c-col>
      <button
        cButton
        color="danger"
        class="btn-next"
        shape="rounded-pill"
        (click)="onQuestionAnswered(questionIndex)"
      >
        Confirm Submission
      </button>
    </c-col>
  </c-row>
  } }
</c-card>
