<div class="test-container">
  <c-container>
    <h2 class="text-center">Online Citizenship Test</h2>
    <h3 class="test-name">
      {{ examService.currentExamChapter?.name ?? "Random Test" }}
    </h3>
    @if(examLoaded) {
    <c-row [gutter]="4">
      <c-col
        [lg]="this.examService.isPracticeModeON ? 10 : 8"
        [offset]="this.examService.isPracticeModeON ? 1 : 0"
      >
        <app-question
          #questionComponent
          [questionIndex]="currentQuestionIndex"
          [totalQuestions]="questionCount"
          [question]="questions[currentQuestionIndex]"
          (questionAnsweredEvent)="onQuestionAnswered($event)"
          (questionNavigationEvent)="onQuestionNavigation($event)"
        />

        @if(isCorrectVisible) {
        <div class="alert alert-success mt-3" role="alert">You're correct!</div>
        } @if(isInCorrectVisible) {
        <div class="alert alert-danger" role="alert">
          {{
            "Wrong answer. Option (" +
              this.questions[currentQuestionIndex].correctAnswerText +
              ") is the correct answer."
          }}
        </div>
        }
      </c-col>
      @if(!this.examService.isPracticeModeON) {
      <c-col lg="4">
        <app-question-number-grid
          [timeLeft]="timeLeft"
          [answeredCount]="answeredCount"
          [notAnsweredCount]="notAnsweredCount"
          [passMarkPercentage]="passMarkPercentage"
          [allowedMistakesCount]="allowedMistakesCount"
          [examTimeInMinutes]="examTimeInMinutes"
          (questionNumberClickedEvent)="onQuestionNumberClicked($event)"
        />
      </c-col>
      }
    </c-row>
    }
  </c-container>
</div>
