<div class="test-container">
  <c-container>
    <h2 class="text-center">
      {{
        examService.currentExamCurriculumID == "1"
          ? "Online Citizenship Test"
          : "Online Driving License Test"
      }}
    </h2>
    @if(!this.examService.isPracticeModeON &&
    this.examService.isExamStarted.value == false) {
    <h2 class="text-center">
      @if(examLoaded) {
      <button
        cButton
        class="btn-start-exam"
        color="danger"
        shape="rounded"
        (click)="onClickExamStart()"
      >
        Start Exam
      </button>
      } @else {
      <div class="d-flex justify-content-center align-items-center">
        <c-spinner color="danger"></c-spinner>
      </div>
      }
    </h2>
    }
    <h3 class="test-name" #intro>
      {{ getExamName() }}
    </h3>
    @if(this.examService.isExamFinished.value == true) {
    <div
      [ngClass]="{
        'result-summary ': true,
        pass: this.isPassed,
        fail: !this.isPassed
      }"
    >
      <c-card>
        <c-card-body>
          <h4 class="mb-3">
            <b>{{
              this.isPassed
                ? "Good job, you have passed!"
                : "Sorry, you have failed."
            }}</b>
          </h4>
          <h5>
            Correct Answer {{ this.correctCount }} out of
            {{ this.questionCount }}
          </h5>
          <h5>
            Your score is
            {{ getPercentage(this.correctCount, this.questionCount) }} %
          </h5>
          <h5>
            {{
              this.isPassed
                ? "Congratulations! Keep it up."
                : "Please keep practicing."
            }}
          </h5>
        </c-card-body>
      </c-card>
    </div>
    } @if(examLoaded) {
    <c-row
      [gutter]="4"
      [ngClass]="{
        blur:
          !this.examService.isPracticeModeON &&
          this.examService.isExamStarted.value == false
      }"
    >
      <c-col
        [lg]="
          this.examService.isPracticeModeON &&
          this.examService.isExamFinished.value == false
            ? 10
            : 8
        "
        [offset]="
          this.examService.isPracticeModeON &&
          this.examService.isExamFinished.value == false
            ? 1
            : 0
        "
      >
        <app-question
          #questionComponent
          [questionIndex]="currentQuestionIndex"
          [totalQuestions]="questionCount"
          [question]="questions[currentQuestionIndex]"
          (questionAnsweredEvent)="onQuestionAnswered($event)"
          (questionNavigationEvent)="onQuestionNavigation($event)"
        />
      </c-col>
      @if(!this.examService.isPracticeModeON ||
      this.examService.isExamFinished.value == true) {
      <c-col lg="4">
        <app-question-number-grid
          [timeLeft]="timeLeft"
          [timeLeftInMinutes]="timeLeftInMinutes"
          [totalQuestions]="questionCount"
          [answeredCount]="this.examService.answeredCount"
          [notAnsweredCount]="notAnsweredCount"
          [passMarkPercentage]="passMarkPercentage"
          [examTimeInMinutes]="examTimeInMinutes"
          [currentQuestionIndex]="currentQuestionIndex"
          (questionNumberClickedEvent)="onQuestionNumberClicked($event)"
        />
      </c-col>
      }
    </c-row>
    }
  </c-container>

  <c-modal id="timeUpModal" [visible]="isTimeUpModalVisible">
    <c-modal-body>The test time of 30 minutes is over. Your test is being submitted automatically to ensure you get a result. Thank you for taking the test.</c-modal-body>
    <c-modal-footer>
      <button (click)="toggleTimeUpModal()" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
</div>
