<div class="test-container">
  <c-container>
    <h2 class="text-center">Online Citizenship Test</h2>
    <h3 class="test-name">
      {{ examService.currentExamChapter?.name ?? "Random Test" }}
    </h3>
    @if(examLoaded) {
    <c-row [gutter]="4">
      <c-col lg="8">
        <app-question
          [questionIndex]="currentQuestionIndex"
          [totalQuestions]="questionCount"
          [question]="questions[currentQuestionIndex]"
          (questionAnsweredEvent)="onQuestionAnswered($event)"
        />

        @if(isCorrectVisible) {
        <div class="alert alert-success mt-3" role="alert">You're correct!</div>
        } @if(isInCorrectVisible) {
        <div class="alert alert-danger" role="alert">
          Wrong answer. Please try again.
        </div>
        }
      </c-col>
      <c-col lg="4">
        <app-question-number-grid
          [timeLeft]="timeLeft"
          [answeredCount]="answeredCount"
          [notAnsweredCount]="notAnsweredCount"
          [passMarkPercentage]="passMarkPercentage"
          [allowedMistakesCount]="allowedMistakesCount"
          [examTimeInMinutes]="examTimeInMinutes"
          (questionNumberClickedEvent)="onQuestionNumberClicked($event)"
        />
      </c-col>
    </c-row>
    }
  </c-container>
</div>
