$click2pass-primary: #d80621;
$click2pass-primary-light: #d8062108;
$click2pass-primary-light-2: #ffcdd2;
$click2pass-success-light: #e8f5e9;

.test-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $click2pass-primary-light;

  h2 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.result-summary {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &.pass {
    h4 {
      color: green;
    }
    // .card {
    //   border: 5px dotted green;
    // }

    // .card-body {
    //   background-color: $click2pass-success-light !important;
    // }
  }

  &.fail {
    h4 {
      color: $click2pass-primary;
    }

    // .card {
    //   border: 5px dotted $click2pass-primary;
    // }

    // .card-body {
    //   background-color: $click2pass-primary-light-2 !important;
    // }
  }
}

.blur {
  filter: blur(20px);
  pointer-events: none;
}

.btn-start-exam {
  font-size: 1.2rem;
  color: white;
}

.offset-1 {
  @media (max-width: 1000px) {
    margin-left: 0 !important;
  }
}
