<c-row [gutter]="4">
  @if(chapters) { @for(chapter of chapters; track chapter.id; let idx = $index)
  {
  <c-col md="12" lg="4">
    <app-question-set-card
      [chapterOrSet]="chapter"
      [index]="idx + 1"
      (click)="onCardClick(chapter)"
    />
  </c-col>
  } } @else if (questionSets) { @for(questionSet of questionSets; track
  questionSet.id; let idx = $index) {
  <c-col md="12" lg="4">
    <app-question-set-card
      [chapterOrSet]="questionSet"
      [index]="idx + 1"
      (click)="onCardClick(undefined, questionSet)"
    />
  </c-col>
  } }
</c-row>
