<c-row [gutter]="4" [lg]="4">
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
  <c-col>
    <app-question-set-card />
  </c-col>
</c-row>
