<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      Canadian <br />
      Citizenship Test
    </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint excepturi
      expedita eaque facilis sit, ab consequatur quibusdam vitae explicabo
      quisquam ratione repellendus libero quia, consectetur voluptatem
      consequuntur quasi dignissimos earum.
    </p>
    <button cButton color="light" class="btn-get-started" shape="rounded-pill">
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button>
  </div>
  <div class="feature-image-container">
    <img src="assets/images/feature-image-1.png" alt="Feature image 1" />
  </div>
</div>
