<div class="hero-container">
  <div class="feature-text-container">
    <h1>
      <!-- Canadian <br class="heading-break" />
      Citizenship Test -->
      Click2pass Online Test Preparations
    </h1>
    <p>
      Preparing for Canadians citizenship test or Ontario G1 Driving knowledge test? This is your one and only
      place to be. Our comprehensive test preparation resources will help you achieve your goals. Assess your
      strengths and weaknesses, improve your test taking strategies, gain confidence, and pass without
      difficulty. All, for free.
    </p>
    <!-- <p>
      Assess your strengths and weaknesses, improve your test taking strategies
      and gain confidence.
    </p>
    <p>Then, click your way 2 pass these important tests.</p> -->
    <!-- <button cButton color="light" class="btn-get-started" shape="rounded-pill" [routerLink]="['citizenship']">
      Get Started
      <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
    </button> -->
  </div>
  <div class="feature-image-container">
    <img src="assets/images/just_logo.png" alt="Feature image 1" />
  </div>
</div>