<div class="feature-master-container">
  <c-container>
    <c-row [gutter]="4" class="mb-5">
      <c-col class="feature-image-container" md="12" lg="6">
        <img
          src="assets/images/feature-citizenship-test.png"
          alt="Citizenship Test"
        />
      </c-col>
      <c-col class="feature-text-container" md="12" lg="6">
        <h5>Citizenship Test</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          suscipit hic numquam fugit aliquam ut mollitia earum voluptates
          obcaecati, provident iusto molestiae cupiditate quis animi aliquid
          eius nisi, quasi tempora!
        </p>
        <button cButton color="danger" class="btn-start" shape="rounded-pill">
          Start Random Practice
          <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
        </button>
      </c-col>
    </c-row>

    <c-row [gutter]="4">
      <c-col class="feature-text-container" md="12" lg="6">
        <h5>Driving License Test</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          suscipit hic numquam fugit aliquam ut mollitia earum voluptates
          obcaecati, provident iusto molestiae cupiditate quis animi aliquid
          eius nisi, quasi tempora!
        </p>
        <button cButton color="danger" class="btn-start" shape="rounded-pill">
          Start Chapter Wise Practice
          <svg [cIcon]="icons.cilArrowRight" size="xs"></svg>
        </button>
      </c-col>
      <c-col class="feature-image-container text-end" md="12" lg="6">
        <img
          src="assets/images/feature-driving-test.png"
          alt="Citizenship Test"
        />
      </c-col>
    </c-row>
  </c-container>
</div>
