<div class="card-container">
  <c-card class="shadow-sm" (click)="onClickCard()">
    <c-row class="g-0">
      <c-col md="3" class="d-flex justify-content-center align-items-center">
        <div class="set-number-container shadow-sm">
          <svg [cIcon]="icons.cilMediaPlay" size="xs"></svg>
        </div>
      </c-col>
      <c-card-body cCol md="9">
        <h5 cCardTitle>{{ title }}</h5>
      </c-card-body>
    </c-row>
  </c-card>
</div>

<c-modal
  id="liveDemoModal"
  [visible]="isModalVisible"
  (visibleChange)="handleLayer2ModalChange($event)"
  size="xl"
  alignment="center"
  [scrollable]="true"
>
  <c-modal-header>
    <h5 cModalTitle>
      {{ chapters ? "Choose a chapter" : "Choose a question set" }}
    </h5>
    <!-- <button (click)="toggleLayer2Modal()" cButtonClose></button> -->
  </c-modal-header>
  <c-modal-body>
    @if (chapters) {
    <app-question-set-grid [chapters]="chapters" [isPracticeModeON]="true" />
    } @else if(questionSets) {
    <app-question-set-grid
      [questionSets]="questionSets"
      [isPracticeModeON]="true"
    />
    } @else {
    <div class="d-flex justify-content-center align-items-center">
      <c-spinner color="danger"></c-spinner>
    </div>
    }
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLayer2Modal()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>
