<c-container>
  <c-row [gutter]="4" class="my-3 card-container" [lg]="3">
    <c-col>
      <c-card class="text-center mb-4 shadow-sm">
        <c-card-body>
          <img src="assets/images/home-stat-1.png" class="img-card" />
          <h5 cCardTitle>600+</h5>
          <p cCardText>Questions</p>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col>
      <c-card class="text-center mb-4 shadow-sm">
        <c-card-body>
          <img src="assets/images/home-stat-2.png" class="img-card" />
          <h5 cCardTitle>80</h5>
          <p cCardText>Lessons</p>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col>
      <c-card class="text-center mb-4 shadow-sm">
        <c-card-body>
          <img src="assets/images/home-stat-3.png" class="img-card" />
          <h5 cCardTitle>30+</h5>
          <p cCardText>Tests</p>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
